@model List<DemoPortfolioProject.Models.Entities.TBLExperience>
@{
    ViewBag.Title = "Deneyimler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<table class="table table-striped">
    <tr>
        <th>No</th>
        <th>Firma Adı</th>
        <th>Açıklama</th>
        <th>Baslangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac++;
        <tr>
            <td>@sayac</td>
            <td>@item.CompanyNamme</td>
            <td>@item.Description</td>
            <td>@item.StartDate.Value.Year</td>
            <td>@item.EndDate.Value.Year</td>
            <td><a href="/Experience/DeleteExperience/@item.ExperienceID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Experience/UpdateExperience/@item.ExperienceID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>

<a href="/Experience/AddExperience" class="btn btn-primary">Yeni Deneyim Girisi</a>