@model List<Portfolio.DataAccess.Entities.Skill>

@{
    ViewData["Title"] = "Skills";
}
<h2>@ViewData["Title"]</h2>

<div class="container">

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Detail</th>
                <th scope="col">Edit | Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Detail</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=@item.Id  }) |
                        @Html.ActionLink("Delete", "Delete", new {  id=@item.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table> 

</div>